<div style="padding:20px;">
<div style="width:750px; height:470px; border:solid 1px #000; text-align:center; font-size:11px;">
<img src="{$DESIGN}prague_venice_coupon_bg.jpg" style="position:absolute; top:0px; left:0px; width:100%; margin-bottom:-450px;">
<div style="width:100%; height:85px;"> </div>
<div style="width:100%; height:30px; padding:2px 10px;text-transform:uppercase;"><h1 style="margin:0;font-weight:bold;font-size:30px">{$DICTIONARY.pdf_venice_title}</h1></div>
<div style="width:100%; height:65px; padding:0px 10px;text-transform:uppercase;"><h3 style="margin:0;">{$DICTIONARY.pdf_venice_title2}</h3></div>
<div style="float:right; width:42%; height:60; padding:0px 4%; border:solid 0px #090;text-align:left; font-family:sans-serif;">
<br />
{$DICTIONARY.pdf_venice_text2}
</div>
<div style="float:left; width:46%; height:60px; padding:10px 2%;border:solid 0px #090;font-weight:bold; text-transform:uppercase;">{$DICTIONARY.pdf_venice_bonus}</div>
<div style="width:60%; height:50px; padding:10px 20%; font-family:sans-serif;"><p>{$DICTIONARY.pdf_venice_text1}</p></div>
<div style="float:right;width:25%; height:16px; padding-right:185px; border:solid 0px #500;font-size:9px;font-family:sans-serif;">{$DICTIONARY.pdf_venice_historycar}</div>
<div style="float:left;width:25%; height:16px; padding-left:185px; border:solid 0px #500;font-size:9px;font-family:sans-serif;">{$DICTIONARY.pdf_venice_address}</div>
</div>
</div>